{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}
<div class="grid-x grid-padding-x">
  <!-- <div class="large-4 medium-4 small-12 cell"></div> -->
  <div class="large-4 medium-4 small-12 large-offset-4 medium-offset-4 cell">
    <h3 class="text-center">Login to Snapshot Account</h3>
    <form action="/login/" method="post">
        {% csrf_token %}

        {{ form.errors }}
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}
        <input type="submit" class="button expanded" value="Login" />
        <a href="/register" class="secondary button expanded">Create Account</a>
        <input type="hidden" name="next" value="{{ request.GET.next }}" />
    </form>
  </div>
</div>
{% endblock %}