{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/foundation.min.css' %}">
    <title>Hello Class!</title>
</head>

<body>
    <script src="{% static 'assets/vendor.js' %}"></script>
    <script src="{% static 'assets/foundation.min.js' %}"></script>
    <h1>CINS465 Hello World</h1>
    <p>Getting Django and Foundation to cooperate within the confines of a Docker container were 
        absolute hell. However I felt an obligation to do so, as now that I have this one app 
        working, I can use it for the rest of the semester!</p>
</body>

</html>